body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #7760FF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(181,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(164,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='22.439999999999998'%3E%3Cpath transform='translate(-204.4 -7.599999999999998) rotate(-19.299999999999997 1409 581) scale(0.764302)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='7.48' transform='translate(-320.5 175) rotate(4 800 450) scale(0.9891279999999999)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(2.299999999999997 -88.5) rotate(-8.5 401 736) scale(0.9891279999999999)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='6.8'%3E%3Cpath transform='translate(1050 27.000000000000004) rotate(-6.750000000000001 150 345) scale(1.011434)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='14.96' transform='translate(-166.5 -486) rotate(-68.39999999999998 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-506.8 117.2) rotate(-11.400000000000006 1400 132) scale(0.515)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}
h2{
	color: rgba(255,255,255,);
    text-decoration: normal;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: pre;
	text-shadow:0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
}
.form{
    background-color: rgba(255, 255, 255, 0.61);
    padding: 20px;
    width: 300px;
    margin: 0 auto;
}

button{
    border: none;
    background-color: red;
    padding: 5px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.form input{
    margin: 5px 0;
    padding: 5px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

input[type="submit"]{
    border: none;
    background-color: #8A2AF1;
    border-radius: 5px;
    position: relative;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 10px 30px;
    transition: 0.5s;
    cursor: pointer;
}
input[type="submit"]:hover{
    background: var(--clr);
    letter-spacing: 0.25em;
    color: #8A2AF1;
    box-shadow: 0 0 35px var(--clr);
}

#eventsContainer{
    background-color: rgba(255, 255, 255, 0.918);
    border-radius: 5px;
    padding: 15px;
    width: 500px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.event{
    border: solid 1px rgb(140, 0, 255);
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.event .days{
    text-align: center;
    width: 100px;
}
.event .days .days-number{
    font-size: 30px;
    font-weight: bold;
    display: block;
}

.event .event-name{
    padding: 10px;
    width: 200px; 
}
.event .event-date{
    padding: 10px;
    width: 100px;
}
.event .actions{
    padding: 10px;
}

/*Estilos para el alert*/
.spAlert{
    color: rgb(236, 39, 39);
}
.tale{
    color: #5b5096;
    font-size: .7em;
}
.contenidoAlert{
    color: #5b5096;
    font-size: 16px;
}
.tamAlerta{
    width: 50% !important;
    height: auto
}

/*Estilos para el menu*/
.collapsed{
    display: none;
}

nav{
    background-color: rgb(61, 0, 102);
    color: white;
    width: 100%;
}
nav .mobile{
    display: none;
}

nav .mobile .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}

nav .mobile .header .more button{
    border: none;
    background-color: #000;
    color: white;
    padding: 15px;
    cursor: pointer;
}

nav .logo{
    min-width: 250px;
}
nav a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 20px 25px;
}

nav a:hover{
    color: #fff;
    background-color: #9A5BD5;
    transition: .5s;
}

nav .desktop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    pad: 0 20px;
}
nav .desktop .primary,
nav .desktop .secondary{
    display: flex;
}
nav .desktop .secondary.mini{
    display: none;
}
@media screen and (max-width: 1009px){.tale{font-size: 20px;}}
@media screen and (max-width: 853px){
    nav .mobile{
        display: block;
    }
    nav .desktop img{
        display: none;
    }
    nav .secondary.full{
        display: none;
    }

    nav .secondary.mini{
        display: block !important;
    }

    nav .secondary.mini .submenu{
        background-color: rgb(61, 0, 102);
        position: absolute;
        display: none;
        width: 200px;
        right: 0;
    }
    nav .secondary.mini:hover .submenu{
        display: block;
    }
    .tale{
        font-size: 16px;
    }
    .contenidoAlert{
        font-size: 12px;
    }
    .tamAlerta{
        width: 92% !important;
    }
    
}
/*fin de los estilos del menu*/
@media screen and (max-width: 600px){
    .form{
        padding: 20px;
        width: 90%;
    }
    #eventsContainer{
        padding: 5px;
        width: 90%;
        margin: 60px auto;
        display: flex;
        flex-direction: column;
        gap: 2px;
    }

    .event .days .days-number{
        font-size: 16px;
        font-weight: bold;
        display: block;
    }

    .tam{
        width: 90%;
        font-size: 15px;
    }
}
@media screen and (max-width: 500px){
    .form{
        padding: 18px;
        width: 90%;
    }

    #eventsContainer{
        width: 90%;
        font-size: 14px;
    }

    .event .days .days-number{
        font-size: 15px;
        font-weight: bold;
        display: block;
    }

    button{
        color: white;
        font-size: 10px;
    }
    .tam{
        width: 95%;
        font-size: 12px;
    }
    nav .desktop{
        display: none;
    }

    nav .mobile{
        display: block;
    }
    .tale{
        font-size: 14px;
    }
    .contenidoAlert{
        font-size: 12px;
    }
}
@media screen and (max-width: 350px){
    .tale{
        font-size: 12px;
    }
    .contenidoAlert{
        font-size: 10px;
    }
}